body{
    font-size: large;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .difficulty-wrapper, .table-wrapper {
        margin-top: 1em;
    }

    .difficulty-wrapper{
        display: flex;
        button {
            margin-right: 0.5em;
        }
    }
    .footer-buttons{
        display: flex;
        button {
            margin: 0.5em;
        }
    }
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 45%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.table-wrapper {
    box-sizing: border-box;
    background-image: url("./../../public/9x9_Empty_Sudoku_Grid.svg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    height: 1000px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bolder;
    .row {
        display: flex;
        .cell {
            display: flex;
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            align-items: center;
            justify-content: center;
        }
    }
    input {
        font-family: sans-serif;
        font-size: 24px;
        color: #8b0000;
        font-weight: bolder;
        text-align: center;
        cursor: pointer; 
        caret-color: transparent;
        background: transparent;
        border: none;
        display: flex;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 1000px) {
    .table-wrapper {
        padding: 25px;
        width: 500px;
        height: 500px;
        font-size: 12px;
        .row {
            .cell {
                width: 50px;
                height: 50px;
            }
        }
        input {
            font-size: 12px;
            width: 50px;
            height: 50px;
        }
    }
  }